    .fade-enter-active,
    .fade-leave-active {
        transition: opacity .5s
    }
    
    .fade-enter,
    .fade-leave-to
    /* .fade-leave-active in <2.1.8 */
    
    {
        opacity: 0
    }
    
    .half {
        opacity: 0.5;
    }
    
    .divider {
        list-style: none;
        display: block;
        border-bottom: 1px solid gray;
    }
    
    .pure-g {
        justify-content: center;
    }
    
    input {
        background: white;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ccc;
        box-shadow: none;
        width: 100%;
        height: 2.4em;
        color: darkslategray;
        padding: .4em 1em;
        box-sizing: border-box;
        margin: 0;
    }
    
    .chatroom {
        background: #efefef;
        padding: .6em 1.2em;
        margin: 0;
        box-sizing: border-box;
        margin-top: 5vh;
        margin-bottom: 10vh;
        height: 70vh;
        border: 1px solid #ccc;
        overflow-y: scroll;
    }
    
    .chatroom .chatroom-message {
        border-bottom: 1px dashed #ccc;
        padding-top: .3em;
    }
    
    .chatroom .chatroom-message .time {
        color: #999;
        font-size: .6em;
        display: block;
    }
    
    .chatroom .chatroom-message .user {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
    }
    
    .chatroom .chatroom-message .message {
        margin-top: 0;
        padding: 0;
    }
    
    .input-box {
        position: fixed;
        bottom: 0;
        left: calc(66.6% - 50%);
        border: 1px solid #ccc;
    }
    
    .error-message {
        color: red;
        text-align: center;
    }
    
    .header:hover {
        cursor: pointer;
        background: #ccc;
    }