<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/pure-min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="js/vue@2.3.4.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/socket.io.js"></script>
</head>

<body>

    <div class="pure-g" id="app">

        <h1 class=" header pure-u-2-3" @click="changeChat">Chat {{chatId}} <i class="fa fa-cog" aria-hidden="true"></i>
        </h1>

        <div class="chatroom pure-u-2-3">
            <chatroom-message v-for="message in chatroom" :date="message.date" :user-id="message.userId" :message="message.message" :key="message.id"></chatroom-message>
            <message-creation-indicator v-if="userCreatingAMessage != null" :user-id="userCreatingAMessage"></message-creation-indicator>
        </div>

        <div class="input-box pure-u-2-3">
            <p class="error-message" v-show="newMessageError != ''">{{ newMessageError }}</p>
            <input v-model="nick" @keyup.enter="sendNewMessage" placeholder="Nick" required />
            <input v-if="nick != ''" @keyup.enter="sendNewMessage" @keydown="clearNewMessageError" v-model="newMessage" placeholder="new message" required/>
        </div>
    </div>

    <script>
        Vue.component('chatroom-message', {
            props: ['date', 'userId', 'message'],
            template: `
            <div class="chatroom-message">
                <span class="time"> {{ this.getTimeFromDate(date) }} </span>
                <span class="user"> {{ userId }} </span>
                <p class="message-content"> {{ message }} </p>
            </div>`,
            methods: {
                getTimeFromDate: function(date) {
                    var dateToExtract = new Date(date);
                    var minutes = dateToExtract.getMinutes();
                    if (parseInt(minutes) < 10) {
                        minutes = "0" + minutes;
                    }

                    return dateToExtract.getHours() + ":" + minutes;
                }
            }
        });

        Vue.component('message-creation-indicator', {
            props: [
                'userId'
            ],
            template: `
            <div class="chatroom-message">
                <span class="user"> {{ userId }} is writing a message </span>
            </div>`,
        })

        var socket = io.connect('http://localhost:5342/chat');

        var app = new Vue({
            el: "#app",
            data: {
                chatroom: [],
                newMessage: '',
                newMessageError: '',
                nick: '',
                userCreatingAMessage: null,
                gotChatHistory: false,
                chatId: 'default'
            },
            methods: {
                sendNewMessage: function() {
                    var message = this.newMessage;
                    var nick = this.nick;

                    socket.emit('chat', {
                        userId: nick,
                        message: message,
                        chatId: this.chatId
                    });

                    this.newMessage = '';
                },
                clearNewMessageError: function() {
                    this.newMessageError = '';
                },
                getTimeFromDate: function(date) {
                    var dateToExtract = new Date(date);
                    return dateToExtract.getHours() + ":" + dateToExtract.getMinutes();
                },
                sayHiToTheServer: function() {

                    socket.emit('hi', {
                        userId: this.nick,
                        chatId: this.chatId
                    });

                },
                changeChat: function() {
                    var newChat = prompt("Put the name of new channel");
                    if (newChat == undefined) return;
                    socket.emit('roomChange', {
                        currentChatId: this.chatId,
                        newChatId: newChat
                    });

                }
            },
            watch: {
                nick: function(newNick) {
                    window.localStorage.setItem('nick', newNick);

                    if (this.nick != '' && !this.gotChatHistory) {
                        this.sayHiToTheServer();
                    } else if (this.nick != '') {
                        this.sayHiToTheServer();
                    }
                },
                newMessage: function(newMessage) {
                    var vm = this;
                    if (newMessage.length > 1) {
                        socket.emit('typing', {
                            userId: vm.nick,
                            chatId: this.chatId
                        });
                    }
                }
            },
            created: function() {
                var vm = this;
                socket.on('chat', function(data) {
                    vm.chatroom.push(data);
                    vm.userCreatingAMessage = null;
                });
                socket.on('typing', function(data) {
                    vm.userCreatingAMessage = data.userId;
                });
                socket.on('hello', function(data) {
                    vm.chatroom = data;
                    vm.gotChatHistory = true;
                });
                socket.on('roomChange', function(data) {
                    if (data.status == 'success') {
                        vm.chatId = data.chatId;
                    } else if (data.status == 'fail') {
                        if (confirm(data.message)) {
                            socket.emit('createRoom', {
                                currentChatId: vm.chatId,
                                newChatId: data.chatId
                            });
                        }
                    }
                });

                if (window.localStorage.getItem('nick') != undefined && window.localStorage.getItem('nick') != '') {
                    this.nick = window.localStorage.getItem('nick');

                    vm.sayHiToTheServer();
                }

            }
        })
    </script>

</body>

</html>